input[type='range'] {
	-webkit-appearance: none;
	width: 100%;
	min-width: 60px;
	max-width: 200px;
	background: transparent;
	margin: 1.5em auto 2em auto;
}

input[type='range']:hover {
}

input[type='range']:focus {
	outline: none;
}

input[type='range']::-ms-track {
	width: 100%;
	min-width: 60px;
	max-width: 200px;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	color: transparent;
}

/*thumb*/
input[type='range']::-webkit-slider-thumb {
	-webkit-appearance: none;

	transform: translateY(-0.5em);
	height: 2em;
	width: 1em;
	background: var(--col-primary);
	cursor: pointer;
	transition: 0.3s;
}

input[type='range']:hover::-webkit-slider-thumb {
	background: var(--col-primary-light);
}

input[type='range']::-moz-range-thumb,
input[type='range']::-ms-thumb {
	transform: translateY(-0.5em);
	height: 2em;
	width: 1em;
	background: var(--col-primary);
	cursor: pointer;
	transition: 0.3s;
}

input[type='range']:hover::-moz-range-thumb,
input[type='range']:hover::-ms-thumb {
	background: var(--col-primary-light);
}

/*track*/
input[type='range']::-webkit-slider-runnable-track {
	box-sizing: content-box;
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: var(--col-text-light);
}

input[type='range']::-moz-range-track {
	box-sizing: content-box;
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: var(--col-text-light);
}

input[type='range']::-ms-track {
	box-sizing: content-box;
	width: 100%;
	height: 1em;
	cursor: pointer;
	background: transparent;
	border-color: transparent;
	border-width: 16px 0;
	color: transparent;
}
input[type='range']::-ms-fill-lower,
input[type='range']::-ms-fill-upper {
	background: var(--col-text-light);
}
