:root {
	--filled: #000;
	--untouched: #888;
	--empty: #fff;
	--highlight: #bbb;
	--error: #f00;
}

html,
body {
	padding: 0;
	margin: 0;
	font-family: monospace;
	text-align: center;
	user-select: none;
}

table {
	border: 0;
	margin: 1em auto;
	font-size: 2em;
	border-collapse: collapse;
	transition: box-shadow 1s;
	box-shadow: 0 4px 0 rgba(0, 0, 0, 0);
}

table.won {
	box-shadow: 0 2px 2px rgba(0, 0, 0, 0.24), 0 4px 6px rgba(0, 0, 0, 0.24);
}

table.won tr:first-of-type th,
table.won tr th:first-of-type {
	opacity: 0;
}

table.won tr:first-of-type {
	transform: scaleY(0);
}

tr:first-of-type th {
	width: 1.5em;
	padding-bottom: 1em;
}

tr:not(:first-of-type) th:first-of-type {
	padding-right: 1em;
}

th {
	font-size: 0.75em;
	opacity: 1;
	transition: opacity 1s;
}

td {
	width: 1.5em;
	height: 1.5em;
	background-color: var(--untouched);
}

td[v='0'] {
	cursor: pointer;
}

td[v='1'] {
	background-color: var(--empty);
}

td[v='1'].error {
	background-color: var(--error);
	animation-name: error_1;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes error_1 {
	to {
		background-color: var(--empty);
	}
}

td[v='2'] {
	background-color: var(--filled);
}

td[v='2'].error {
	background-color: var(--error);
	animation-name: error_1;
	animation-duration: 1s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-iteration-count: 1;
}

@keyframes error_2 {
	to {
		background-color: var(--filled);
	}
}

td[v='0']:hover {
	background-color: var(--highlight);
}

btn {
	display: inline-block;
	font-size: 2em;
	cursor: pointer;
	color: white;
	background-color: black;
	font-weight: 900;
	padding: 0.3em 1em;
	border: 4px solid black;
	margin-bottom: 2em;
}

btn:hover {
	background-color: transparent;
	color: black;
}

p,
input {
	font-family: monospace;
	font-size: 1.2em;
}

p {
	margin: 0 0 0.5em 0;
}

input {
	padding: 0.3em 1em;
	text-align: center;
	border: 4px solid black;
	font-weight: 900;
	margin-bottom: 1em;
}
